* {
    margin:0;
    padding: 0;
}
h2 {
    text-align: center;
    background-color:rgb(blue);
}
div {
margin-top: 30px;
margin-bottom: 30px;
width: 100%;
height: 100vh;
}

.content-1 {
    background-image: url("../img/Sala-moderna-1\ -\ copia.jpg");
   
}
.content-2 {
    background-image: url("../img/sala.jpg");
    background-repeat: repeat-x;

}
.content-3 {
    background-image: url("../img/Sala-moderna-3.jpg");
   
    background-repeat: repeat-y;
    
}
.content-4 {
    background-image: url("../img/sala-blanva\ 500x300.jpg");
    background-repeat: no-repeat;
    
}
.content-5 {
    background-image: url("../img/Sala-moderna-4.jpg");
    background-repeat: no-repeat; 
    background-size:900X 506px;
 }
 .content-6 {
    background-image: url("../img/imagen-ancha.jpg");
    background-repeat: no-repeat; 
    background-size: 900px;
}
.content-7{
        background-image: url("../img/sala-.moderna.jpg");
        background-repeat: no-repeat; 
        background-size: 100%;
     }
.content-8{
        background-image: url("../img/decoracion.jpg");
        background-repeat: no-repeat; 
        background-size: auto;
     }
 .content-9{
        background-image: url("../img/house.jpg");
        background-repeat: no-repeat; 
        background-size: contain;
     }
.content-10{
        background-image: url("../img/moderno-casa1224x333.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
     }
.content-11{
        background-image: url("../img/Modern-Home-Decor-750x467.jpg");
        background-repeat: no-repeat; 
        background-position: center bottom;
     }

