.container-flex-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 194, 199);
}
.container-flex-2{
    display: flex;
    background: powderblue;
    flex-direction: row;
}
.container-flex-3{
    display: flex;
    background: rgb(219, 233, 235);
    flex-direction: column-reverse;
}
.container-flex-4{
    display: flex;
    background: rgb(159, 222, 224);
    flex-direction: row-reverse;
}

.item-flex{
    width: 150px;
    height:150px;
    background-color: rgb(200, 155, 207);
    margin: 20px;
    font-size: 1.5em;
    color: rgb(54, 12, 54);
}
