ul {
    font-size: 1,7em;
    text-align: right;
    background: rgb(150, 176, 213);
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-family: 'Ribeye Marrow', cursive;  
    color: rgb(35, 34, 34);
}
li {
    display: inline-block;
    padding: 20px;
}
.menu-contactenos {
    margin-right: 30px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-size: 1.05em;

}